<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<nav class="card-slider-navigation" aria-label="Card Slider Navigation">
    <div class="nav-container">
        <div class="nav-brand">
            <f:link.action action="list" class="nav-brand-link">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="nav-icon">
                    <path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-1 9H9V9h10v2zm-4 4H9v-2h6v2zm4-8H9V5h10v2z"/>
                </svg>
                Card Slider
            </f:link.action>
        </div>
        
        <div class="nav-menu">
            <f:link.action action="list" class="nav-link {f:if(condition: '{currentAction} == \'list\'', then: 'active')}">
                All Cards
            </f:link.action>
            
            <f:if condition="{f:security.ifHasRole(role: 'Editor')}">
                <f:link.action action="new" class="nav-link {f:if(condition: '{currentAction} == \'new\'', then: 'active')}">
                    Add Card
                </f:link.action>
            </f:if>
        </div>
        
        <div class="nav-actions">
            <f:if condition="{searchEnabled}">
                <div class="nav-search">
                    <f:form action="list" method="get" class="search-form">
                        <f:form.textfield name="search" value="{searchTerm}" placeholder="Search cards..." class="search-input" />
                        <button type="submit" class="search-button" aria-label="Search">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                            </svg>
                        </button>
                    </f:form>
                </div>
            </f:if>
        </div>
    </div>
</nav>

</html>